.card-container {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    border-radius: 8px;
    box-shadow: 6px 6px 6px -3px rgb(0 0 0 / 57%);
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.card-container:hover {
    border: 1px solid #1c1cdb;
}

.card-header {
    display: flex;
    width: 100%;
}

.card-title,
.card-author {
    display: flex;
}

.card-title {
    width: 220px;
    display: flex;
}

.card-title>span {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-author {
    width: 220px;
    padding-left: 25px;
    display: flex;
}

.card-author>span {
    font-style: italic;
    color: #666666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-body {
    display: flex;
    width: 100%;
}

.card-body>span {
    font-size: 20px;
    font-weight: 400;
    color: #363636;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.favorite-button {
    width: 25px;
    height: 25px;
    line-height: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.favorite-button>img {
    width: 20px;
    height: 20px;
}

.card-button-area {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 0;
    left: 10px;
    bottom: 0;
    justify-content: space-evenly;
}

.favorite-card>img {
    filter: invert(95%) sepia(29%) saturate(5340%) hue-rotate(2deg) brightness(103%) contrast(105%);
}